doctype html
html
    head
        title Noscos Place
        link(rel='stylesheet' type='text/css' href='/default.css')
        block scripts
    body
        include /includes/navbar.pug
        .main
            block content
