extends /views/layout.pug

block scripts
    script(type='text/javascript', src='main.js')
    style(type='text/css').
        body { margin: 0px; overflow: hidden; }
        canvas { border: 1px solid black; }


block content
    .canvas
